<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Recursos</title>
</head>
<body>
    <div th:replace="/navbar :: navbar"></div>
    <div class="content">
        <h1>Recursos</h1>
        <br>
        <nav class="navbar navbar-expand-lg">
            <div class="collapse navbar-collapse" id="navbarNav">
                <form method="GET" th:action="@{/recursos}" class="d-flex ms-auto">
                    <select class="form-select" name="filtrocategoria" onchange="this.form.submit()">
                        <option value="">Todos</option>
                        <option value="8" th:selected="${filtrocategoria == 8}">Artículos</option>
                        <option value="9" th:selected="${filtrocategoria == 9}">Cursos</option>
                    </select>
                    <button class="btn" type="button">
                        <i class="bi bi-funnel-fill" style="color: white;"></i>
                    </button>
                </form>
            </div>
        </nav>
    </div>
    <div th:if="${recursos.isEmpty()}">
        <p>No se encontraron recursos, por favor intente nuevamente.</p>
    </div>
    <div th:each="recurso : ${recursos}">
        <div>
            <div class="card content">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-lg-10">
                            <h2 class="card-title" th:text="${recurso.nombre_recurso}"></h2>
                            <p class="card-text truncate" th:text="${recurso.descripcion}"></p>
                            <a th:href="@{/recurso/detallerecurso/{id}(id=${recurso.id_recurso})}" class="btn">Ver más</a>
                        </div>
                        <div class="col-lg-1">
                            <img th:src="@{${recurso.imagen}}" alt="Imagen del Recurso" width="250" height="200" class="float-start">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="p-4"> </div>
    <footer class="footer col text-center text-white mt-auto p-1" style="background-color:#217C61;position: fixed; bottom: 0;width: 100%;">
        <div class="container">
            <div class="col">
                <p style="color: white;">&COPY; Vida Azul Derechos Reservados 2024</p>
            </div>
        </div>
    </footer>
</body>
</html>
