<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand py-3" href="/index"><strong>Vida Azul</strong></a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/recurso/listado"><strong>Recursos</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/categoria/listado"><strong>Categorías</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/transporte/listado"><strong>Transportes</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/galeria/listado"><strong>Galería</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/evento/listado"><strong>Eventos</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/proyecto/listado"><strong>Proyectos</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/rol/listado"><strong>Roles</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/experto/listado"><strong>Expertos</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/usuario/listado"><strong>Usuarios</strong></a>
                </li>
            </ul>
            <div class="d-flex align-items-center">
                <input type="text" class="form-control search-bar" placeholder="Buscar">
                <a href="/iniciarsesion" class="nav-icon"><i class="bi bi-person-circle"></i></a>
            </div>
        </div>
    </div>
</nav>
