<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <title>Iniciar Sesión</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand py-3" href=""><strong>Vida Azul</strong></a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                </ul>
            </div>
        </div>
    </nav> 
    <div class="container mt-5">
        <h1 class="text-center mb-4">Iniciar Sesión</h1>
        <div th:if="${not #strings.isEmpty(error)}" class="alert alert-danger">
            <p th:text="${error}">Mensaje de error</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div style="background-color: #f5f5f5;margin-bottom: 20px;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);">
                    <div class="card-body">
                        <form method="post" action="/iniciarsesion/iniciodesesion">
                            <div class="mb-3">
                                <label for="correo" class="form-label">Correo</label>
                                <input type="email" id="correo" name="correo" class="form-control" placeholder="Correo" required>
                            </div>
                            <div class="mb-3">
                                <label for="contrasenia" class="form-label">Contraseña</label>
                                <input type="password" id="contrasenia" name="contrasenia" class="form-control" placeholder="Contraseña" required>
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
                            </div>
                            <div class="text-center">
                                <a href="/iniciarsesion/registrarse" class="btn btn-link">Regístrate</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer col text-center text-white mt-auto p-1" style="background-color:#217C61;position: fixed; bottom: 0;width: 100%;">
        <div class="container">
            <div class="col">
                <p style="color: white;">&COPY; Vida Azul Derechos Reservados 2024</p>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-pzjw8f+ua7Kw1TIqQJ9Z5C11G7I1Fz4ORF3vcz03en6+8XvZ36bMqaYhhz8sA6G8" crossorigin="anonymous"></script>
</body>
</html>
