<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <title>Registrarse</title>
</head>
<body class="d-flex flex-column h-100">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand py-3" href=""><strong>Vida Azul</strong></a>
        </div>
    </nav>
    <section style="overflow-x: hidden;">
        <div class="row py-2 justify-content-center">
            <div class="col-md-6 p-4">
                <div class="jumbotron-fluid text-center img_inicio"
                     style="background-image: url('https://static.vecteezy.com/system/resources/previews/010/970/477/non_2x/nature-of-green-leaf-environment-ecology-greenery-wallpaper-free-photo.jpg');
                            background-size: cover; color: #02020a; padding: 200px 0; font-weight: bold;">
                    <div class="container">
                        <h1 class="display-4" style="color: #112A26; font-size: 6rem; font-weight: bold;"><strong>Vida Azul</strong></h1>
                        <p class="lead" style="color: #112A26; font-size: 1.5rem; font-weight: bold;"><strong>Conecta, Aprende, Actúa</strong></p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="row py-2 justify-content-center">
                    <div class="col-md-12 py-3">
                        <a href="/iniciarsesion" class="btn btn-primary" style="background-color: #32746D; border: none">
                            <i class="bi bi-arrow-left"></i> Regresar
                        </a>
                    </div>
                </div>

                <div class="row py-2 justify-content-center">
                    <div th:if="${mensaje}" class="alert alert-success text-center" role="alert">
                        <span th:text="${mensaje}"></span>
                    </div>

                    <form th:action="@{/iniciarsesion/registrarse}" method="POST" class="was-validated">
                        <div class="card-header" style="background-color: #32746D; color: white; text-align: center;">
                            <h4>Agregar Usuario</h4>
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <label for="nombre" class="form-label">Nombre de usuario</label>
                                <input type="text" class="form-control" name="nombre_usuario" required />
                            </div>
                            <div class="mb-3">
                                <label for="apellido" class="form-label">Apellido de usuario</label>
                                <input type="text" class="form-control" name="apellido_usuario" required />
                            </div>
                            <div class="mb-3">
                                <label for="correo" class="form-label">Correo electrónico</label>
                                <input type="email" class="form-control" name="correo" required />
                            </div>
                            <div class="mb-3">
                                <label for="contrasenia" class="form-label">Contraseña</label>
                                <input type="password" class="form-control" name="contrasenia" required />
                            </div>
                            <a class="dropdown-item col text-center p-2" href="/iniciarsesion">Inicia Sesión</a>
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-success" id="submitBtn" style="background-color: #32746D; border-color: #32746D;">
                                <i class="bi bi-envelope"></i> Registrar usuario
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <br>
    <footer class="footer col text-center text-white mt-auto p-1" style="background-color:#217C61;position: fixed; bottom: 0;width: 100%;">
        <div class="container">
            <div class="col">
                <p style="color: white;">&COPY; Vida Azul Derechos Reservados 2024</p>
            </div>
        </div>
    </footer>
</body>
</html>

